.containerContactos {
    width: 100%;

    float: left;
    .containerContactosTitle {
        h1 {
            text-align: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
            color: rgb(19, 19, 19);
        }
    }
    .containerContactosBtn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            text-decoration: none;
            color: snow;
            margin-bottom: 10vh;
        }
        a:nth-child(1) {
            margin-left: 20vw;
            padding: 20px;
            border-radius: 35px;
            background-color: rgb(206, 88, 33);
            color: snow;
            font-weight: 600;
            transition: 0.7s;
            cursor: pointer;
            &:hover {
                border: 2px solid rgb(206, 88, 33);
                border-radius: 1px;
                background-color: transparent;
                color: rgb(206, 88, 33);
            }
        }
        a:nth-child(2) {
            margin-right: 20vw;
            padding: 20px;
            border: 3px solid rgb(206, 88, 33);
            color: rgb(206, 88, 33);
            font-weight: 600;
            transition: 0.7s;
            cursor: pointer;
            &:hover {
                border-radius: 0px;
                background-color: rgb(206, 88, 33);
                color: snow;
                border-radius: 35px;
            }
        }
    }
}
.modalContactos {
    .show-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(40, 40, 40);
        background: radial-gradient(circle, rgba(40, 40, 40, 1) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 10;
        h1 {
            text-align: center;
            margin-top: 5vh;
            color: snow;
            font-size: 2.5vw;
            text-transform: uppercase;
        }
        option:first-child {
            color: #999;
        }
        .contactForm {
            width: 58vw;
            margin: 0 auto;
            select {
                margin: 5vh 1% 0 1%;
                width: 98%;
                height: 7vh;
                text-align-last: center;
                border-radius: 30px;
                outline: none;
            }
            input {
                height: 7vh;
                width: 48%;
                margin: 1vh 1% 0 1%;
                text-indent: 25px;
                border-radius: 30px;
                outline: none;
                border: none;
            }

            textarea {
                margin: 1vh 1% 0 1%;
                width: 98%;
                height: 15vh;
                resize: none;
                border-radius: 30px;
                outline: none;
                text-indent: 25px;
            }

            .btn-submit {
                margin-top: 30px;
                width: 99%;
                background-color: #d8661b;
                color: snow;
                text-transform: uppercase;
                font-weight: 600;
            }
        }

        .btnContactos {
            color: snow;
            font-size: 3.5vw;
            cursor: pointer;
            transition: 0.7s;
            position: absolute;
            right: 30px;
            top: 30px;

            &:hover {
                font-size: 4vw;
            }
        }
        .logoContactos {
            width: 15%;
            height: 150px;
            margin: 0 auto;
            background-image: url(./imgs/logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .socialModal {
            margin: 0 auto;
            width: 25%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 2vh;
            a {
                font-size: 1.5rem;
                color: #d8661b;
            }
        }
    }
    .show-modal-off {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
//-------------Smartphone

@media (max-width: 850px) {
    .containerContactos {
        .containerContactosTitle {
            h1 {
                margin-top: 5vh;
                font-size: 6vw;
            }
        }
        .containerContactosBtn {
            a:nth-child(1) {
                margin-left: 3vw;
                margin-right: 2vw;
                padding: 10px 15px;
            }
            a:nth-child(2) {
                margin-right: 3vw;
                margin-left: 2vw;
                padding: 10px 15px;
            }
        }
    }
    .modalContactos {
        .show-modal {
            h1 {
                margin-top: 7vh;
                font-size: 8vw;
                text-transform: uppercase;
            }
            .contactForm {
                width: 90vw;
                text-align: center;
                select {
                    background-color: snow;
                    -webkit-appearance: none;
                    text-indent: 25px;
                }
                textarea {
                    margin: 1vh 1% 0 1%;
                    width: 98%;
                    height: 15vh;
                    resize: none;
                    border-radius: 30px;
                    outline: none;
                    text-indent: 25px;
                }

                .btn-submit {
                    width: 100%;
                    margin-top: 30px;
                    background-color: rgb(194, 78, 25);
                    color: snow;
                    font-weight: 600;
                    text-transform: uppercase;
                    -webkit-appearance: none;
                }
            }
            .btnContactos {
                color: snow;
                font-size: 9vw;
                cursor: pointer;
                transition: 0.7s;
                position: fixed;
                right: 20px;
                top: 20px;
                &:hover {
                    font-size: 8vw;
                }
            }
            .logoContactos {
                width: 40%;
                height: 50px;
                margin: 0 auto;
                margin-top: 10px;
                background-image: url(./imgs/logo.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            .socialModal {
                width: 80%;
                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
