.orçamento {
    height: 100vh;
    background-color: #ffffff;
    float: left;
    width: 100%;
    .orçamento-text {
        height: 100%;
        width: 40%;
        color: black;
        margin-left: 100px;
        margin-top: 100px;
        float: left;
        h1 {
            font-weight: 500;
        }
    }
    .orçamento-dados {
        background-color: #1d1d1d;
        width: 35%;
        height: 85%;
        float: right;
        margin-right: 50px;
        margin-top: 50px;
        border-radius: 15px;
        color: white;
        h1 {
            margin-top: 20px;
            text-align: center;
            font-weight: 500;
            font-family: "Goldman", cursive;
        }
        label {
            margin-left: 20px;
            font-weight: 100 !important;
            font-family: "Goldman", cursive;
        }

        .textarea {
            margin-left: 20px;
            width: 90%;
            margin-top: 5px;
            border-radius: 5px;
            resize: none;
            height: 25px;
            font-size: 16px;
            border: none;
            outline: none !important;
        }
        .textAreaLarge {
            margin-left: 20px;
            border-radius: 5px;
            width: 90%;
            height: 100px !important;
            resize: none;
            outline: none;
        }
        .btn-center {
            width: fit-content;
            margin: 0 auto;
            .button {
                border: 1px solid aliceblue;
                padding: 10px 15px;
                border-radius: 7px;
                font-weight: 500;
                text-decoration: none;
                color: aliceblue;
                background-color: #eb6c04;
                transition: 0.7s;
                margin-top: 20px;
                font-family: "Goldman", cursive;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                margin-bottom: 20px;
                &:hover {
                    background-color: aliceblue;
                    border: 1px solid #1d1d1d;
                    color: #1d1d1d;
                }
            }
        }
        h4 {
            text-align: center;
            color: aliceblue;
        }
    }
}
