.serviços {
    float: left;
    height: auto;
    width: 100%;
    .serviçosDescrição {
        height: auto;
        margin: 4vh 0;
        h1 {
            text-align: center;
            text-transform: uppercase;
            margin-left: 2vw;
            margin-bottom: 2vh;
            font-size: 3vw;
            font-weight: 100;
            color: rgb(20, 20, 20);
            text-shadow: 2px 2px 10px rgb(32, 32, 32);
        }
    }
    .tipoServiços {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        & div:nth-child(2n + 2) {
            background: rgb(11, 20, 54);
            background: radial-gradient(circle, rgba(11, 20, 54, 1) 0%, rgba(2, 4, 15, 1) 100%);
            color: snow;
        }
        & div:nth-child(2n + 1) {
            color: rgb(19, 19, 19);
            p {
                color: rgb(19, 19, 19);
            }
        }
    }
}
//-----------------------------------
//smartphone
@media (max-width: 850px) {
    .serviços {
        height: auto;

        .tipoServiços {
            width: 95%;
        }
    }
}
